@page "/"
@rendermode InteractiveServer
@using System.Collections.Concurrent
@using Raft_5._2_Class_Library
@using System.Text.Json
@inject RaftService RaftService

<PageTitle>Home</PageTitle>

@if (nodes is not null && nodes.Count() > 0)
{
    @foreach (var node in nodes)
    {
        <div class="p-3 col-4">
            <div class="border p-3 rounded-3">
                <div>
                    Id: @node.id
                </div>
                <div>
                    Election timeout: @node.electionTimeout
                </div>
                <div>
                    Node state: @node.status
                </div>
                <div>
                    Node term: @node.term
                </div>
                <div>
                    Node they think is the leader: @node.currentTermLeader
                </div>
                <div>
                    State: 
                    @if (node.responsive)
                    {
                        <div>
                            Responsive.
                        </div>
                    }
                    else
                    {
                        <div>
                            Unresponsive.
                        </div>
                    }
                </div>
                <div>
                    Commit index: @node.committedEntryIndex
                </div>
                <div>
                    Log entries:
                    @* @foreach(var log in node.log)
                    {
                        <div class="row border p-3 rounded-3">
                            <div>
                                Log index: @log.Key
                            </div>
                            <div>
                                Term id: @log.Key
                            </div>
                            <div>
                                Log value: @log.Value
                            </div>
                            <div>
                                Log committed: @(log.Key >= node.committedEntryIndex)
                            </div>
                        </div>
                    } *@
                </div>
                @* <div class="border p-3 rounded-3">
                    <input type="text" id="value" name="value" @bind:event="oninput" @bind=value />
                    <button @onclick="() => Set(node.Id, value)">Set Next Log Entry</button>
                </div>
                <div class="border p-3 rounded-3">
                    <button @onclick="() => TogglePause(node.Id)">Toggle Pause</button>
                </div> *@
            </div>
        </div>
    }
}

@code {
    private Timer? timer;
    public Cluster cluster = new();
    public List<NodeData> nodes = [];
    HttpClient http = new HttpClient();
    NodeData node1data = new NodeData();
    NodeData node2data = new NodeData();
    NodeData node3data = new NodeData();

    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');
    ConcurrentDictionary<string, NodeData> data = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            timer = new Timer(async _ => 
            {
                node1data = await RaftService.GetDataFromApi(Urls[0]);
                Console.WriteLine($"Node1: {JsonSerializer.Serialize(node1data)}");
                node2data = await RaftService.GetDataFromApi(Urls[1]);
                node3data = await RaftService.GetDataFromApi(Urls[2]);

                nodes = new List<NodeData> { node1data, node2data, node3data };
                await InvokeAsync(StateHasChanged);
            }, null, 0, 200);
            await InvokeAsync(StateHasChanged);
        }
        catch(HttpRequestException ex)
        {
            throw new Exception("Client won the race condition: ", ex);
        }

        @* timer = new Timer(async _ => 
        {
            await Task.WhenAll(
                Urls.Select(async url => 
                {
                    try
                    {
                        var nodeData = await http.GetFromJsonAsync<NodeData>(url);
                        if (nodeData != null)
                        {
                            data[url] = nodeData;
                        }
                        else
                        {
                            Console.WriteLine("Node is null: ", url);
                        }
                        
                    }
                    catch (HttpRequestException)
                    {
                        Console.WriteLine($"Node {url} is unresponsive.");
                        data.TryRemove(url, out var removedNodeData);
                    }
                }).ToArray()
            );
            await InvokeAsync(StateHasChanged);
        }, null, 0, 200); *@
    }
}